<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>web.app</display-name>

  <servlet>
    <servlet-name>default</servlet-name>
    <init-param>
      <param-name>aliases</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>acceptRanges</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>dirAllowed</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>welcomeServlets</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>redirectWelcome</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>maxCacheSize</param-name>
      <param-value>256000000</param-value>
    </init-param>
    <init-param>
      <param-name>maxCachedFileSize</param-name>
      <param-value>200000000</param-value>
    </init-param>
    <init-param>
      <param-name>maxCachedFiles</param-name>
      <param-value>2048</param-value>
    </init-param>
    <init-param>
      <param-name>gzip</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>useFileMappedBuffer</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>resourceCache</param-name>
      <param-value>resourceCache</param-value>
    </init-param>
    <init-param>
      <param-name>cacheControl</param-name>
      <param-value>max-age=3600,public</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>custom-servlet</servlet-name>
    <servlet-class>
      dev.local.quickstart.webapp.jee.servlet.controller.MainController
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- servlet-mapping -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>custom-servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- filter-->
  <filter>
    <filter-name>mainFilter</filter-name>
    <filter-class>dev.local.quickstart.webapp.jee.servlet.filter.MainFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>mainFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- errors -->
  <error-page>
    <error-code>500</error-code>
    <location>/static/errors/error.html</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/static/errors/error.html</location>
  </error-page>

  <error-page>
    <error-code>403</error-code>
    <location>/static/errors/error.html</location>
  </error-page>

</web-app>